@model IEnumerable<ETrading_MVC.Models.BusinessOwnerVM>

@{
    ViewBag.Title = "GetBusinessOwnerDetails";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Business Owners List</h2>

<p>
    @Html.ActionLink("Create New", "CreateBusinessOwner")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfIncorporation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SharePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfShares)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfIncorporation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SharePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfShares)
        </td>
       
    </tr>
}

</table>
