<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })@*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*<li>@Html.ActionLink("LogOut", "Logout", "Customer")</li>*@

                    @if (Session["username"] != null)
                    {
                        <li>@Html.ActionLink("View Profile", "Details", "BusinessOnwer", new {id = Session["id"]}, null)</li>
                        <li>@Html.ActionLink("Edit Profile", "Edit", "BusinessOnwer", new { id = Session["id"] }, null)</li>
                        
                        <li>@Html.ActionLink("View Customers", "Index", "BusinessOnwer", new { id = Session["id"] }, null)</li>
                        <li><a href="#">Hi @Session["username"]</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "BusinessOnwer")</li>
                    }
                </ul>

                @*@@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - E-Trading Application</p>
        </footer>
    </div>

  @*  @Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
